.topBar
{
    background-color: transparent; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -50px
    
}

.Banner{
    width: 22%;
}

.TopRight{
    width: 100%;
    margin-left: 7%;
    background-color: transparent;
    font-size: 100%;
    margin-top: -40px
}
.Title{
    color: white;
    font-size: 40px;
    display: flex;
}

.Links{
    display: flex;   
    background-color: transparent; 
}
.link{
    
    color: white;
    font-size: 15px;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: black;
    text-decoration: none !important;
}
.mdp-input{
    color: white;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    text-decoration: none !important;
}
.mdp-input::placeholder {
    color: white;
  }

.icon{
    position: absolute;
    margin-left: -35px;
}

.Home{
    margin-top: 20px;
}

.Settings{
    margin-top: 20px;
}


@font-face { 
    font-family: 'HBB';
    src: local('HBB'), url(../fonts/HBB.otf) format('opentype');
}

