
/*

background-image: linear-gradient(black,75%, green);

*/

.App {
  text-align: center;
  background-color: black;
  background-image: url("images/background.png");
  height: 100%;
  min-height: 1080px;
  font-family: LexendDeca;
  
}

@font-face {
  font-family: 'LexendDeca';
  src: local('LexendDeca'), url(./fonts/LexendDeca-VariableFont_wght.ttf) format('truetype');
}

.container{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 60px;
}


